<div class="p4 md:p-20 text-center">
  <h1 class="text-3xl lg:text-5xl lg:pb-8">Contact Us</h1>

  <div class="flex justify-evenly p-10">
    <div class="flex-col">
      <span class="material-symbols-outlined">
        call
      </span>
      <h2 class="text-xl md:text-3xl py-4">Phone</h2>
      <p class="text-lg md:text-xl">Phone: 1(800)555-5435</p>
      <p class="text-lg md:text-xl">Fax: 1(800)555-5432</p>
    </div>

    <div class="leading-loose">
      <span class="material-symbols-outlined m-auto">
        home_pin
      </span>
      <h2 class="text-xl md:text-3xl py-4">Address</h2>
      <p class="text-lg md:text-xl">4885 University Drive<br>
        Chicago,IL<br>
        60610</p>
    </div>
  </div>
</div>
