@use 'theme'as theme;

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


// Global //
html,
body {
  height: 100%;
  color: map-get(theme.$light-primary, 500);
  background-color: #EBF1F4;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
h1, h2, h3, h4 {
  font-family: "Playfair Display", serif;
}
p {
  font-size: 18px;
}
button {
  background-color: map-get(theme.$light-accent, 500);
}

button:hover {
  background-color: map-get(theme.$light-accent, 400);
}

a {
  color: map-get(theme.$light-tertiary, 500);
}

a:hover {
  color: map-get(theme.$light-tertiary, 400);
}
