<h1 class="text-3xl lg:text-5xl ml-4 md:ml-5 pt-3">
  Home Loan Calculator:<br>Estimate Your Monthly Payments
</h1>
<!-- LEFT/TOP COL -->
<div class="grid md:grid-cols-2 md:gap-20 md:py-3">
  <div class="my-4">
    <form class="pt-6 px-6 pb-12 border rounded">
      <h2 class="text-lg lg:text-2xl font-bold tracking-wide">Details</h2>
      <div>
        <label for="amount" class="mt-4 block text-sm font-medium text-gray-700">Loan Amount</label>
        <input type="number" min="0" id="amount" name="amount" [(ngModel)]="loanAmount"
          class="block w-full p-2 border border-gray-300 rounded-md shadow-sm">
      </div>
      <div>
        <label for="rate" class="mt-4 block text-sm font-medium text-gray-700">Interest Rate</label>
        <input type="number" min="0" id="rate" name="rate" [(ngModel)]="interestRate"
          class="block w-full p-2 border border-gray-300 rounded-md shadow-sm">
      </div>
      <div>
        <label for="loanTern" class="mt-4 block text-sm font-medium text-gray-700">Loan Term (Years)</label>
        <input type="number" min="0" id="loanTerm" name="loanTerm" [(ngModel)]="loanTerm"
          class="block w-full p-2 border border-gray-300 rounded-md shadow-sm">
      </div>

      <div *ngIf="err" class="bg-red-50 text-red-800 py-2 text-center mt-2 rounded" role="alert">
        {{ err }}
      </div>
      <button (click)="calculate()" class="mt-6 w-full font-bold p-2.5 rounded">
        Calculate
      </button>
    </form>
  </div>

  <!-- RIGHT/BOTTOM COL -->
  <div>
    <div class="md:pt-6 hidden md:block">
      <img src="assets/images/house.png" alt="House" width="250px">
    </div>
    <div class="pt-6 text-2xl font-semibold">
      <h2 class="mb-4">Monthly Payment: <span>${{ monthlyPayment }}</span></h2>
      <h2 class="mb-4">Monthly Interest: <span>${{ monthlyInterest }}</span></h2>
      <h2>Total Interest: <span>${{ totalInterest }}</span></h2>
    </div>
  </div>
